@model ListIISApps.Models.ServerManagerVM
@{
  ViewBag.Title = "Appication details";
}

<h2>title</h2>
<fieldset>
  <legend>ServerManagerVM</legend>

  <div class="display-label">PhysicalPath</div>
  <div class="display-field">
    @Html.DisplayFor(model => model.PhysicalPath)
  </div>

  <div class="display-label">Path</div>
  <div class="display-field">
    @Html.DisplayFor(model => model.Application.Path)
  </div>

  <div class="display-label">ApplicationPoolName</div>
  <div class="display-field">
    @Html.DisplayFor(model => model.Application.ApplicationPoolName)
  </div>

  <div class="display-label">EnabledProtocols</div>
  <div class="display-field">
    @Html.DisplayFor(model => model.Application.EnabledProtocols)
  </div>


</fieldset>
<table style="width: 100%;">
  <tr>
    <th>Name</th>
    <th>Value</th>
  </tr>
  @foreach (var setting in ViewData.Model.AppSettings)
  {

    <tr>
      <td>@setting.Key</td>
      <td>@setting.Value</td>
    </tr>
  }

</table>

<table style="width: 100%;">
  <tr>
    <th>Name</th>
    <th>ConnectionString</th>
    <th>ProviderName</th>
  </tr>
  
  @foreach (var cs in ViewData.Model.ConnectionStrings)
  {
    <tr>
      <td>@cs.Name</td>
      <td>@cs.ConnectionString</td>
      <td>@cs.ProviderName</td>
    </tr>
  }

</table>
<p>
  @Html.ActionLink("Back to List", "Index")
</p>
