@model IEnumerable<ListIISApps.Models.ServerManagerVM>

@{
  ViewBag.Title = "Applications on IIS";
}

<h2>@ViewBag.Message</h2>
<table>
  <tr>

    <th>
      Path
    </th>        
    <th>
      ApplicationPoolName
    </th>
    <th>
      EnabledProtocols
    </th>
    <th>
      PhysicalPath
    </th>
    <th>
      AppSettings
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>

      <td>
        <a href="@Html.DisplayFor(modelItem => item.Application.Path)" target="_blank">@Html.DisplayFor(modelItem => item.Application.Path)</a>
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Application.ApplicationPoolName)
      </td>
 <td>
        @Html.DisplayFor(modelItem => item.PhysicalPath)
      </td>
      <td>
        @{
          object value;

          if (item.AppSettings !=null && item.AppSettings.TryGetValue("BuildNumber", out value))
          {
            @value
          }
        }

      </td>
      <td>
        @Html.ActionLink("Details", "Details", new { path=item.Application.Path })
      </td>
    </tr>
  }

</table>
